[submodule "extensions-src/better-lyrics-glassy"]
	path = extensions-src/better-lyrics-glassy
	url = https://github.com/NanKillBro/better-lyrics-glassy
[submodule "extensions-src/shaders-glassy"]
	path = extensions-src/shaders-glassy
	url = https://github.com/NanKillBro/shaders-glassy
