[submodule "extensions-src/better-lyrics-glassy"]
	path = extensions-src/better-lyrics-glassy
	url = https://github.com/NanKillBro/better-lyrics-glassy
[submodule "extensions-src/shaders-glassy"]
	path = extensions-src/shaders-glassy
	url = https://github.com/NanKillBro/shaders-glassy
[submodule "extensions-src/better-lyrics-glassy-dev"]
	path = extensions-src/better-lyrics-glassy-dev
	url = https://github.com/NanKillBro/better-lyrics-glassy
	branch = dev
[submodule "extensions-src/tacet-glassy"]
	path = extensions-src/tacet-glassy
	url = https://github.com/NanKillBro/tacet-glassy
